{% extends 'base.html.twig' %}

{% block content %}
    <div class="content" id="single">
        <div class="container" id="single">
            <a href="{{ path('ProjectsRoute') }}"> <img class="fullsize" src="img/5a4e97d6dff11e0001ca7f48_LEISKA_200509e03.jpg"></a>
        </div>
    </div>

{% endblock %}
