{% extends 'base.html.twig' %}

{% block content %}
    <div class="content" id="single">
        <div class="container" id="single">
            <a href="{{ path('ProjectsRoute') }}{{ project.slug }}/{{ prevPhoto.slug }}" class="gallery-prev"></a>
            <a href="{{ path('ProjectsRoute') }}{{ project.slug }}/{{ nextphoto.slug }}" class="gallery-next"></a>
            <img class="fullsize" src="{{ asset('img/photos/' ~ photo.image) }}"/>
        </div>

        <div id="info" class="overlay">
            <a class="close-overlay" href="#"></a>
            <div class="popup">
                <h2>{{ photo.title }}
                    /
                    {{ photo.year }}</h2>
                <h3>{{ photo.archiveId }}</h3>
                <a class="close" href="#">&times;</a>
                <div class="popup-content">
                    {{ photo.text }}
                </div>
                <div class="popup-price">
                    {{ photo.priceDescription }}
                    <div class="right">{{ photo.price }}
                        €
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="17" height="17" viewbox="0 0 512 512">
                                <g class="nc-icon-wrapper">
                                    <path d="M160 400c-13.248 0-24 10.752-24 24s10.752 24 24 24 24-10.752 24-24-10.752-24-24-24z"></path>
                                    <path d="M384.5 400c-13.248 0-24 10.752-24 24s10.752 24 24 24 24-10.752 24-24-10.752-24-24-24z"></path>
                                    <path d="M448 128L123.177 95.646c-1.628-6.972-4.369-14.66-11.838-20.667C102.025 67.489 86.982 64 64 64v16.001c18.614 0 31.167 2.506 37.312 7.447 4.458 3.585 5.644 8.423 7.165 15.989l-.024.004 42.052 233.638c2.413 14.422 7.194 25.209 13.291 32.986C171.043 379.312 180.533 384 192 384h240v-16H192c-4.727 0-19.136.123-25.749-33.755l-5.429-30.16L432 256l16-128z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="popup-copyright">
                    Photograph and Copyright © by HEINER LEISKA<br>
                    Not to be reproduced in any form without written permission of the photographer
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block sideinfo %}
    <div class="sideinfo">
        <a class="button" href="#info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 48 48">
                <g class="nc-icon-wrapper">
                    <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z"></path>
                </g>
            </svg>
            {{ photo.title }}
        </a>
        <div class="counter-wrapper">
            <a href="{{ path('ProjectsRoute') }}{{ project.slug }}/{{ prevPhoto.slug }}" class="">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="16" height="16" viewbox="0 0 512 512" enable-background="new 0 0 512 512">
                    <g class="nc-icon-wrapper">
                        <path d="M352 115.4L331.3 96 160 256l171.3 160 20.7-19.3L201.5 256z"></path>
                    </g>
                </svg>
            </a>
            <span class="counter">{{ photo.position }}/{{ photoCount }}</span>
            <a href="{{ path('ProjectsRoute') }}{{ project.slug }}/{{ nextphoto.slug }}" class="">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="16" height="16" viewbox="0 0 512 512" enable-background="new 0 0 512 512">
                    <g class="nc-icon-wrapper">
                        <path d="M160 115.4L180.7 96 352 256 180.7 416 160 396.7 310.5 256z"></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}