{% extends 'admin/baseAdmin.html.twig' %}

        {% block scripts %}
            <script type="text/javascript">
                //window.__INITIAL_STATE__ = '{ "projects": {{ projects|raw }} }';
                var twigProjects = JSON.parse('{{ projects|raw }}')
                var imageDirectory = '{{ thumbnail_directory|raw }}';
            </script>
        {% endblock %}

{% block content %}

    <div class="content" id="overview">
        <div class="container" id="overviewContainer">
            <div id="app"></div>
        </div>

    </div>

    <div id="add" class="overlay">
        <a class="close-overlay" href="#"></a>
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <h1>Adding a new project</h1>
            <div class="popup-content">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.image) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}