{% extends 'admin/baseAdmin.html.twig' %}

        {% block scripts %}
            <script type="text/javascript">
                var twigProjects = JSON.parse('{{ photos|raw }}');
                var imageDirectory = '{{ photo_directory|raw }}';
                console.log(imageDirectory);
            </script>
        {% endblock %}

{% block content %}

    <div class="content" id="overview">
        <div class="container" id="overviewContainer">
            <div id="app"></div>
        </div>

    </div>

{% endblock %}