<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Heiner Leiska | Photography{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/js/app.css') }}"/>
        {% endblock %}

        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700" rel="stylesheet">
        {% endblock %}

        {% block meta %}
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body>

    <div class="global">

    {% block sidebar %}
        <div class="sidebar">
            <div class="navigation">
                <a href="{{ path('IndexRoute') }}" class="logo">HEINER <span class="bold">LEISKA</span></a>
                <nav class="main">
                    <a href="
                        {{ path('AdminProjectsRoute') }}"
                            {% if app.request.attributes.get( '_route' )
                                starts with 'AdminProjectsRoute' or 'GalleryRoute' %} class="active"
                            {% endif %}>
                        Photographs</a>
                    <a href="
                        {{ path('AboutRoute') }}"
                            {% if app.request.attributes.get( '_route' )
                                starts with 'AboutRoute' %} class="active"
                            {% endif %}>
                        About</a>
                </nav>
            </div>
            {% block sideinfo %}{% endblock %}

        </div>
    {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
    {% endblock %}

    </body>
</html>
