$primary-color: red;
$light-grey: #ccc;
$main-font: 'TSTAR-Regular', sans-serif;
$bold-font: 'TSTAR-Bold', sans-serif;

* {
    //border: 1px solid $primary-color;
    text-decoration: none;
}

html,
body {
    background: white;
    height: 100%;
    overflow:hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: $main-font;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.global {
    display: flex;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    box-orient: horizontal;
    //background: #789;
    //border: 1px solid black;
    overflow: hidden;
}
.sidebar {
    //border: 1px solid red;
    position: fixed;
    height: 100vh;
    width: 300px;
    min-width: 250px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: #fff;
}

.sideinfo {
    position: absolute;
    margin-top: 250px;
}


.sideinfo a{
    color: $light-grey;
}

.nc-icon-wrapper {
    fill: $light-grey;
}

.content {
//border: 1px solid blue;
//   position:relative;
    margin-left: 300px;
    margin-right: 3vw;
    max-height: 100%;
    overflow: auto;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: flex;
    align-content: center;
}

.content#single{
    align-items: center;
}

.content#overview{
    align-items: center;
}

.container{
    position: relative;
    width: 1000px;
    text-align: left;
}

.container#single {
}

img.fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

img.fullsize{
    padding: 0px;
    //margin: 8px 16px 8px 0;
    max-width:  100%;
    max-height: 100%;
}

/*
* === FORMS ===
*/

/* Bordered form */
form {
 width: 20em;
}

/* Full-width inputs */
input[type=text], input[type=password],input[type=file]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button.btn-full-width {
    background-color: #ccc;
    font-size: 0.8em;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.error {
    color: red;
}

h1 {
    font-size: 1em;
    margin-bottom: 2em;
}

label[for=project_thumbnail]{
}

/*
* === GALLERY ===
*/

a.gallery-next {
    //background-color: red;
    position: absolute;
    width: 50%;
    height:100%;
    right: 0px;
    cursor: e-resize;
    z-index: 1;
}
a.gallery-prev {
    //background-color: blue;
    position: absolute;
    width: 50%;
    left: 0px;
    height:100%;
    cursor: w-resize;
    z-index: 1;
}



/*
* === NAVIGATION ===
*/

a.logo {
    font-family: $main-font;
    font-size: 1.5em;
    margin: 0;
    color: #000;
}

span.bold {
    font-family: $bold-font;
}

nav {
    font-weight: 200;
    margin-top: 50px;
    z-index: 0;
}

nav a{
    color: #000;
    display: block;
    padding-bottom: 20px;
}

nav a.active {
    font-family: $bold-font;
}

nav a:hover{
    color:$light-grey;
}

/*
* === OVERLAY ===
*/

.overlay {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 1000ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.popup {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    width: 40vw;
    position: relative;
    transition: all 2s ease-in-out;
    font-family: $main-font;
    -webkit-box-shadow: 0px 0px 60px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 60px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 60px 2px rgba(0,0,0,0.2);
    z-index: 21;
    border: 1px solid #aaa;
}

.popup h2 {
    margin: 0 0 10px 0;
    color: #333;
    font-family: $bold-font;
    font-size: 1.0em;
}

.popup h3 {
    margin-top: 0;
    color: #333;
    font-weight: 400;
    font-size: 1em;
}

.overlay .close-overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 100%;
    height: 100%;
    cursor: alias;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #999;
}
.popup .popup-content {
    max-height: 30%;
    overflow: auto;
    font-weight: 200;
    font-size: 1em;
}

.popup .popup-price {
    width: 100%;
    margin: 30px 0;
    max-height: 30%;
    overflow: auto;
    font-weight: 400;
    font-size: 1em;
}

.popup .popup-price div.right{
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.popup-copyright {
    font-size: 0.8em;
    color: $light-grey;
}

/*
* === MEDIA QUERIES ===
*/

@media all and (orientation:portrait){
    .sidebar{
        height: 20vh;
        width: 100vw;
        padding-left: 4vw;
        padding-top: 2vh;
        z-index: 1;
    }
    .content{
        margin: 0;
        //padding-top: 150px;
        //border: 1px solid red;
    }
    .content#overview{
        margin-top: 150px;
    }
    .container#single{
        width: 100vw;
        max-width: 1000px;
        text-align: left;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .container#overview{
        //border: 1px solid blue;
        width: 100vw;
        max-width: 1000px;
        text-align: left;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .sideinfo {
        position: fixed;
        bottom: 3vh;
    }
    nav {
        margin-top: 20px;
    }
    nav a:last-child{
        padding-bottom: 0;
    }
}

@media all and
    (max-width: 643px) and
    (orientation:portrait)  {
        .content#overview {
            align-items: flex-start;
        }
        .popup {
            width: 100vw;
            margin: 0 4vw;
        }
        img.grid{
            width: 100%;
        }
}

@media all and
    (max-height: 780px) and
    (orientation:portrait)  {
        .content#overview {
            align-items: flex-start;
        }
    }

@media all and
(max-width: 930px) and
(orientation:landscape){
    .content#overview {
        align-items: flex-start;
        padding-top: 3vh;
    }
    .popup {
        margin: 10vh auto;
        width: 80vw;
    }
}

@media all and
    (max-height: 618px) and
    (max-width: 1223px) and
    (orientation:landscape){
    .content#overview {
        align-items: flex-start;
        padding-top: 3vh;
    }
}
@media all and
    (max-height: 618px) and
    (orientation:landscape){
    .sideinfo {
        bottom: 50px;
    }
    .sidebar {
        align-items: flex-start;
        padding-top: 50px;
    }
    .content#overview{
        padding-top: 3vh;
        margin-right: 0px;
        padding-right: 1vw;
    }
}



/*
* === ANIMATIONS ===
*/


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
